/* === media.css === */
@media (max-width: 768px) {
  .hero-heading {
    font-size: 2rem;
  }
  .hero-heading-subtitle {
    font-size: 1.2rem;
  }
  .nav {
    flex-direction: column;
  }
  .nav-link {
    padding: 10px;
  }
}
